.social-container {
    background: #9ab8d0;
    padding: 25px 25px;
    text-align: center;
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
  }

  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }

  a.social:hover {
    transform: translateY(-6px);
  }

  a.Twitter {
    color: #49a1eb;
  }

  a.Github {
    color: #211F1F;
  }

  a.LinkedIn {
    color: #2867B2;
  }
